<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Test Code</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .list-group-item.active a{ color: #FFF; }
    </style>
  </head>
  <body ng-app="AppSample">

    <div class="container">
      <div class="page-header">
        <h1>App Test</h1>
      </div>
      <div class="row">
        <!-- Sidebar -->
        <div class="sidebar col-md-2">
          <ul class="list-group">
            <li class="list-group-item active"><a href="index.html">Load External JSON <span class="sr-only">(current)</span></a></li>
            <li class="list-group-item"><a href="#">Sample Link</a></li>
            <li class="list-group-item"><a href="#">Sample Link</a></li>
          </ul>
        </div>
        <!-- /Sidebar -->
        <!-- Content -->
        <div class="content col-md-10">

          <div class="col-md-12" ng-controller="CustomersCtrl">
            <h1>Loading External JSON</h1>

            <p>Data pulled from "http://www.w3schools.com/angular/customers.php"</p>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="x in names">
                {{ x.Name + ', ' + x.Country }}
              </li>
            </ul>

          </div>

        </div>
        <!-- /Content -->

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>